.grid-container-right {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-evenly;
    border: 1px solid black;

}

.grid-container-left {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-evenly;
    border: 1px solid black;

}

.grid-container-left, .grid-container-right img {
    width: 400px;
}

.grid-item {
    align-self: center;
    padding: 40px;
    border: 1px solid black;

}

.flex-item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.header_elm {
    display: inline-block;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid black;
    padding-bottom: 25px;
}

.text_elm {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    
}