@import "base.css";
.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-evenly;
    border: 1px solid black;

}

.grid-container img {
    width: 400px;
}

.grid-item {
    align-self: center;
    padding: 100px;
    border: 1px solid black;

}

.flex-item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.hide {
    display: none;
}