@import "base.css";

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    padding: 10px 10px;
    color: #9085d1;
}

.logo {
    font-size: 30px;
    padding-left: 30px;
    font-weight: 600;
    color: #9085d1;
}

/* Navigation Bar */
.topnav {
    /* padding: 20px; */
    list-style: none;
}

.topnav li {
    display: inline-block;
    margin: auto;
    padding: 0 20px;
    text-decoration: none;
}

.topnav li a {
    color: #d4d6e5;
}

.topnav a:hover {
    text-decoration: underline #9085d1;
    color: white;
}

/* Delete COSC2083 when the screen is less than 1000px */
@media screen and (max-width: 1000px) {
    .title{
        display: none;
    }

}