.header_elm {
    display: inline-block;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid black;
    padding-bottom: 25px;
}

.text_elm {
    font-size: 16px;
    color: var(--color-text);
}

.center_container {
    background-color: var(--color-nav);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: scroll;
}

.center_item {
    display: inline-block;
    padding: 100px;
    text-align: center;

}

.center_header {
    align-items: center;
    font-weight: 700;
    padding: 20px 0px;
    border: 1px solid white;
    font-size: 25px;
    color: white;
}

.center_text {
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
    color: var(--color-center-text);
}

.button_container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.button_elm {
    width: 140px;
	height: 45px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 2px;
	background-color: var(--color-title);
	color: white;
	font-weight: 450;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button_container :hover {
    transform: translateY(-0.25em);
    background-color: #5c48d4;
	transition: 0.6s;
}


