@import "base.css";

.header_elm {
    display: inline-block;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid black;
    padding-bottom: 25px;
}

.text_elm {
    font-size: 16px;
    color: var(--color-text);
}

/* Read more/less */
.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    color: var(--color-title);
    margin-left: 2px;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}

#more {display: none;}

